.nav{
    background: transparent;
    transition: background 0.5s;
}
main{
    opacity: 0;
    transition: opacity 0.3s
}
.hm-ps-img{
    margin-top: 5px;
    width: 100%;
    height: 400px
}
.hm-ps-h{
    width: 100%;
}
.hm-ps-tt{
    font-size: 2em;
    font-weight: 100;
}
.hm-ps-tm{
    float: right;
    color: #AAA;
    font-size: 1.2em;
}
.hm-ps-dsc{
    margin-top: 10px;
}
.hm-ps-lnk{
    text-align: right
}
.hm-ft{
    height: 90%;
    background: url(/img/thing.JPG) no-repeat bottom;
    background-size: cover;
    color: #FFF;
    text-align: center;
}
.hm-ft h1{
    font-weight: 100;
    margin: 0;
    font-size: 5em;
    padding-top: 40vh;
}
.hm-ft div{
    font-size: 2em;
}