/* main.css -- Trademark Asher Foster 2015 */
*{position: relative;vertical-align: top}
html, body{
    background: #FFF;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
}
body[theme = dark]{
    transition: background 0.3s;
    background: #333;
    color: #CCC;
}
body[theme = dark] nav{
    transition: background 0.3s;
    background: #222
}
.hidden{
  display: none
}
nav{
    background: #EEE;
    position: fixed;
    height: 100%;
    width: 24%;
    padding: 1% 1% 0 0;
    display: inline-block;
    text-align: right;
}
nav ul{
    list-style: none
}
nav li{
    font-size: 1.5em;
    padding: 2px;
    transition: left 0.3s;
}
nav li a{
    margin-right: 5%;
    text-decoration: none;
}
nav li.cur{
    border-right: 2px solid #555;
}
nav li:hover{
    transition: border-right 0.2s;
    border-right: 4px solid #444;
}
main{
    top: 50px;
    left: 27%;
    width: 60%;
    display: inline-block;
}
.nav-tgl{
    top: -10px;
    font-size: 3em;
}
a{
    color: inherit;
}
#title{
    font-size: 2em;
    text-decoration: none;
    font-family: "Source Code Pro", serif;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 7%;
}
a.subtle{
    text-decoration: none;
}
a.subtle:hover{
    border-bottom: 2px solid #000;
}
.lbl {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.cbx:checked ~ label {
  background: #6fbeb5;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #179588;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after {
  background: #bcbdbc;
}