/* main.css -- Trademark Asher Foster 2015 */
*{
    position: relative
}
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
}
body[theme = dark] main{
    transition: background 0.3s;
    background: #333;
    color: #EEE;
}
body[theme = dark] nav{
    transition: background 0.3s;
    background: #222;
    color: #BBB;
}
.hidden{
  display: none
}
.link{
    cursor: pointer
}
.nav{
    position: fixed;
    width: 97%;
    color: #FFF;
    background: #555;
    padding: 10px 1.5%;
    z-index: 999
}
nav a:not(#title){
    display: inline-block;
    font-size: 1.3em;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
}
nav a:not(#title):hover{
    transition: background 0.2s;
    background: rgba(0,0,0,0.2)
}
.nav-r{
    float: right
}
main{
    background: #FFF;
    padding: 6% 10%;
    width: 80%;
}
a{
    color: inherit;
}
#title{
    display: inline-block;
    font-size: 1.8em;
    text-decoration: none;
    font-family: "Source Code Pro", serif;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 7%;
}
a.subtle{
    text-decoration: none;
}
a.subtle:hover{
    border-bottom: 2px solid #000;
}