/* photos.css -- Trademark Asher Foster 2015 */
main{
    width: 70%;
}
.img-w{
    height: 200px;
    width: 32%;
    display: inline-block
}
.img-bg{
    background: url(/img/error.png);
    background-position: top;
    height: 100%;
    width: 100%;
    position: absolute;
}
.img{
    width: 100%;
    position: absolute;   
}
.img-de{
    color: #FFF;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 0.5s
}
.img-w:hover .img-de{
    transition: opacity 0.5s;
    opacity: 1;
}
.img-de *{
    padding: 0 10px;
}
.img-nm{
    padding: 10px;
}
.img-fc{
    display: block;
    top: 50%;
}
.img-nm{
    font-size: 1.5em;
}